
body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
  width: 90%;
    margin: auto;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
.container{
	padding: 10px;
	background-color: pink;
	
	
}
#j{
	color: pink;
	background-color: black;
	align-content: center;
}
#k{
	color: pink;
	background-color: black;
}
#l{
	background-color: pink;
}
#o{
	color: pink;
	background-color: black;

}
.btn{
	background-color: yellow;
	height: 40px;
	width: 100px;
}